:host {
  overflow: auto;
}
.container {
  min-height: 100%;
}
.login-card {
  max-width: 400px;
  margin: 20px;
}
.logo {
  background-image: url('/assets/logo.png');
  background-size: cover;
}

.mat-card-header-text {
  background-color: #CC66AA;
}
