<div class="container" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="logo"></div>
      <mat-card-title>Pacman login</mat-card-title>
      <!-- <mat-card-subtitle>Enter your credentials</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-form-input
        label="Email or nickname"
        controlName="email"
        [form]="form"
        ></app-form-input>
        <app-form-input
        label="Password"
        controlName="password"
        password="true"
        [form]="form"
        ></app-form-input>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="admin()">admin</button>
      <button mat-button (click)="aarticci()">aarticci</button>
      <button mat-button (click)="amontanari()">amontanari</button>
      <button mat-button (click)="reset()">Clear</button>
      <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">Login</button>
      <!-- <button mat-button (click)="partialUpdate()">Partial Update</button> -->
    </mat-card-actions>
  </mat-card>
</div>
