<lib-sidenav #sidenav>
  <div class="sidenav">
    <mat-nav-list>
      <a
      mat-list-item
      *ngFor="let item of navigationSideMenu"
      [routerLink]="[item.link]"
      routerLinkActive="active">
        {{item.label | translate}}
      </a>
    </mat-nav-list>
  </div>

  <div class="wrapper">

    <mat-toolbar color="primary">

      <button mat-icon-button class="d-md-none" (click)="sidenav.toggle()">
        <!-- <fa-icon icon="bars"></fa-icon> -->
        <mat-icon>menu</mat-icon>
      </button>

<!--

      <span routerLink="" class="branding spacer center d-inline d-sm-none">
        <img [src]="logo" [alt]="logo"/></span>
      <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo" [alt]="logo"/> {{
        'title.short' | translate }}</span>
      <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo"[alt]="logo" /> {{ 'title.long' | translate
        }}</span>

      <span class="d-none d-md-inline">
        <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
          routerLinkActive="active">
          {{item.label | translate}}
        </button>
      </span>

      <button mat-button mat-stroked-button color="accent" *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">
        {{ 'menu.login' | translate }}
      </button>

      <button *ngIf="(isAuthenticated$ | async)"
              mat-icon-button
              [matMenuTriggerFor]="toolbarUserMenu">
        <fa-icon icon="user-circle"></fa-icon>
      </button>
      <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <mat-icon><fa-icon icon="power-off"></fa-icon></mat-icon>
          <span>{{ 'menu.logout' | translate }}</span>
        </button>
      </mat-menu>

      <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
        <fa-icon icon="cog"></fa-icon>
      </button>

      <a [matTooltip]="'anms.header.github' | translate"
         matTooltipPosition="before"
         mat-icon-button
         class="link d-none d-sm-inline"
         href="https://github.com/tomastrajan/angular-ngrx-material-starter"
         target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="['fab','github']"></fa-icon>
      </a>

      <span *ngIf="language$ | async as language">
        <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
          <mat-option *ngFor="let l of languages" [value]="l">
            {{ l.toUpperCase() }}
          </mat-option>
        </mat-select>
      </span>
-->



      <button mat-icon-button class="" aria-label="Storybox">
        <img class="icon" src="assets/icons/logo.png">
      </button>
      <span class="spacer"></span>
      <span>Story Box</span>
      <span class="spacer"></span>
<!--
      <span *ngIf="(user$ | async)">
        <img class="icon" src="assets/icons/padlock-open.png">
      </span>
-->
<!-- *ngIf="(user$ | async) && activeMemorybox && closedMemorybox" -->
      <mat-icon
      color="accent">lock</mat-icon>

      <!-- *ngIf="(user$ | async)" -->
      <!-- <button
      mat-icon-button
      class="margin"
      aria-label="Settings">
        <img class="icon" src="assets/icons/settings.png">
      </button> -->
      <!-- *ngIf="(user$ | async)" -->
      <!-- <button
      mat-icon-button
      class="margin"
      aria-label="Logout"
      (click)="logout()">
        <img class="icon" src="assets/icons/logout.png">
      </button> -->

<!--
      <app-button-mini-fab
      *ngIf="(user$ | async)"
      class="margin"
      label="Aggiungi cassetto"
      icon="add"
      color="grey"
      (click)="router.navigate('/create-memorybox')"
      ></app-button-mini-fab>

      <app-button-mini-fab
      *ngIf="(user$ | async)"
      class="margin"
      label="Settings"
      icon="settings"
      color="grey"
      ></app-button-mini-fab>
      <app-button-mini-fab
      *ngIf="(user$ | async)"
      class="margin"
      label="Logout"
      icon="logout"
      color="grey"
      (click)="logout()"
      ></app-button-mini-fab>
-->

    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>

  </div>

</lib-sidenav>
