<div>{{ 'settings.language' | translate }}: {{ 'settings.languages.' + ((settings$ | async).language) | translate }}</div>
<div></div>

<button
mat-button
type="button"
aria-label="Logout"
(click)="logout()"
>Logout
</button>
<!-- 
<button
mat-button
type="button"
aria-label="Toggle dark theme"
(click)="toggleDarkTheme()"
>Toggle dark
</button>
 -->
<button
mat-button
type="button"
aria-label="Reset cache"
(click)="resetCache()"
>Reset cache
</button>

<!-- <easy-toggle
[form]="form"
controlName="darkTheme"
label="Dark theme"
></easy-toggle> -->

<easy-radio-buttons
[form]="form"
[logs]="true"
controlName="language"
[items]="languages"
itemValuePath="value"
itemLabelPath="label"
></easy-radio-buttons>

<easy-radio-buttons
[form]="form"
controlName="themeMode"
[items]="modeItems"
itemValuePath="value"
itemLabelPath="label"
></easy-radio-buttons>

<easy-radio-buttons
[form]="form"
controlName="themeSize"
[items]="sizeItems"
itemValuePath="value"
itemLabelPath="label"
></easy-radio-buttons>

<!--
------
<form [formGroup]="form" novalidate>
  <mat-radio-group aria-label="Select an option" formControlName="language">
    <mat-radio-button value="en">English</mat-radio-button>
    <mat-radio-button value="it">Italiano</mat-radio-button>
  </mat-radio-group>
</form>
-->