<easy-sidenav #sidenav *ngIf="!(user$ | async)" class="sidenav1">
  <router-outlet *ngIf="(ready$ | async) ?? true"></router-outlet>
</easy-sidenav>
<easy-sidenav #sidenav *ngIf="!!(user$ | async)" class="sidenav2">
  <easy-button
  class="sidenav"
  label="Logout"
  (click)="logout()"
  ></easy-button>
  <easy-nav-list
  class="sidenav"
  [list]="translatedNavigationList"
  ></easy-nav-list>
  <div class="wrapper">
  <!-- *ngIf="(ready$ | async) ?? true"> -->
    <easy-browser-tabs [logs]="false"
    [show]="(ready$ | async) ?? true">
      <easy-button-icon
      beforeNavButtons
      color=""
      icon="menu"
      (click)="sidenav.toggle()"
      ></easy-button-icon>
    </easy-browser-tabs>
  </div>
</easy-sidenav>
<app-theme-manager></app-theme-manager>
